<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cook Book - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    @RenderBody()

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>