@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Cook Book</h1>
        <p>This application allows you to add photos of some recipes to your own cook book. 
        It extracts the text data from the image so it's then easier to read or edit.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
        <p>OR instead skip directly to</p>
        <p><a class="btn btn-primary btn-lg" href="~/recipe" role="button">Uploading recipes</a></p>
    </div>
</div>